.container {
    display: grid;
    gap: 24px; /* Space between cards */
    padding:24px;
}

.card {
    width: 100%; 
    margin:auto;
 
    
}

nav {
    background-color: white;
}

footer {
    padding: 16px;
    background-color: #ecfd21;
}

section {
    padding: 16px;
   
}
 section.hero{
    height: 636px;
background-image: url('/assets/images/luke.jpg');
background-size: cover; /* Cover the entire section */
background-position: center; 

display: flex; /* Use flexbox for centering content */
justify-content: left; /* Center content horizontally */
align-items:center;
padding-left: 142px;


 }
 .hero-content {
    background-color: rgba(236, 253, 33, 0.6); /*using rgba here allows you to adjust opcity without affecting text */
    height: 335px;
    width: 500px;
    padding:24px;
    
 }


 

 .grid {
 margin: 48px;

 }

 .grid-title {
    text-align: center;
 }

 

  .position-relative {
    position: relative;
  }
  
  .overlay-number {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background-color: rgba(255, 255, 255, 0.7); /* Background color with some transparency */
    border-radius: 50%; /* circular */
    padding: 5px 10px; 
    font-weight: bold; 
    color: #000; /* Text color */
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;  /*  arrow width */
    border-right: 10px solid transparent; /*  arrow width */
    border-bottom: 20px solid green; 
    margin-left: 20px;
    margin-top:8px;

  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;  /*  arrow width */
    border-right: 10px solid transparent; /*  arrow width */
    border-top: 20px solid red; 
    margin-left: 20px;
    margin-top:8px;

  }

 
  .no-change {
    height: fit-content;
    background-color: greenyellow;
    width: fit-content;
    margin-top: 4px;
margin-left: 18px ;


  }
