.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); /* Responsive grid */
    gap: 24px; /* Space between cards */
    padding: 16px;
}

.card {
    width: 100%; /* Ensure the card takes full available width in the grid */
}

nav {
    padding: 16px;
    height: auto;
}

footer {
    padding: 16px;
    background-color: #ecfd21;
}


