.container {
  display: grid;
  gap: 1.5rem; /* 24px / 16 = 1.5rem */
  padding: 1.5rem; /* 24px / 16 = 1.5rem */
}
.card {
  width: 100%; 
  margin: auto;
}
nav {
  background-color: white;
  font-style: 'Poppins';
 
}
footer {
  padding: 1rem; /* 16px / 16 = 1rem */
  background-color: #ecfd21;
  font-style: 'Poppins';
}
section {
  padding: 1rem; 
}
section.hero {
  height: 39.75rem; 
  background-image: url('/assets/images/happyman2.jpg');
  background-size: cover; 
  background-position: center; 
  display: flex; 
  justify-content: left; 
  align-items: center;
  padding-left: 8.875rem; 
}
.hero-content {
  position: absolute;
  background-color: rgba(236, 253, 33, 0.6);
  height: fit-content;
  width: fit-content;
  padding: 1.5rem; /* 24px / 16 = 1.5rem */
font-family: 'Poppins';
font-weight: bolder;
}
.podcast {
    width: 100%;
}
.grid {
  margin: 3rem; /* 48px / 16 = 3rem */
  font-family: 'Roboto';
}
.grid-title {
  text-align: center;
  font-family: 'Poppins';
  font-weight:500;
 
  
  
}
.grid-subtitle {
  text-align: center;
  font-family: 'Poppins';
  font-style: italic;
}
.position-relative {
  position: relative;
}
.overlay-number {
  position: absolute;
  top: 0.625rem; /* 10px / 16 = 0.625rem */
  left: 0.625rem; /* 10px / 16 = 0.625rem */
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 50%; 
  padding: 0.3125rem 0.625rem; /* (5px, 10px) / 16 */
  font-weight: bold; 
  color: #000; 
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent; /* 10px / 16 = 0.625rem */
  border-right: 0.625rem solid transparent; /* 10px / 16 = 0.625rem */
  border-bottom: 1.25rem solid green; /* 20px / 16 = 1.25rem */
  margin-left: 1.25rem; /* 20px / 16 = 1.25rem */
  margin-top: 0.5rem; /* 8px / 16 = 0.5rem */
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent; /* 10px / 16 = 0.625rem */
  border-right: 0.625rem solid transparent; /* 10px / 16 = 0.625rem */
  border-top: 1.25rem solid red; /* 20px / 16 = 1.25rem */
  margin-left: 1.25rem; /* 20px / 16 = 1.25rem */
  margin-top: 0.5rem; /* 8px / 16 = 0.5rem */
}
.no-change {
  height: fit-content;
  background-color: greenyellow;
  width: fit-content;
  margin-top: 0.25rem; /* 4px / 16 = 0.25rem */
  margin-left: 1.125rem; /* 18px / 16 = 1.125rem */
}
.custom-footer {
  margin-top: 20px; 
  padding-left: 20px; 
  text-align: center; 
}